body {
  padding: 20px;
}

.app-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  max-width: 800px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.add-task {
  padding: 5px 10px;
  border: 1px solid #000;
  background: white;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.task-container {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.task-content {
  display: flex;
  flex-direction: column;
}

.task-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.task-date {
  font-size: 0.9em;
  color: #555;
}

.delete-icon {
  cursor: pointer;
  color: #888;
}

.form-control {
  margin: 20px 0;
  display:flex;
}

.form-control label {
  margin-right: 10px;
}