<form action="/tasks" method="post">
  <label for="title">Enter Task's Title: </label>
  <input id="title" type="text" name="title" >
  <label for="date">Enter Task's Date: </label>
  <input id="date" type="date" name="date" >
  <input type="submit" value="Submit">
</form>