doctype html
html(lang="en")
  head
    title Task Details
    link(rel="stylesheet", href="/styles.css")
  body
    h1 You are viewing task #{id}
    ul 
      li Task title: #{title}
      li Task status: #{completed ? "Completed" : "Not Completed"}
      li #{userName} is responsible for this task

