body {
  background-color: rgb(231, 225, 214);
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  border-bottom: 2px dotted darkslateblue;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

h1 {
  color: #1050aa;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.2em;
}

#job-title {
  font-weight: bold;
}

.experience, .education {
  border: 2px dashed brown;
  margin: 10px 0;
  padding: 10px;
}

header a {
  margin: 0 5px;
}

header a[href*="github"]:hover {
  color: red;
}

h2::first-letter {
  font-size: 3rem;
  font-weight: bold;
}

header a[href*="github"]::after {
  content: url("../images/GitHub-Mark-32px.png");
  margin-left: 5px;
}

header a:last-child {
  margin-left: 20px;
}

.education .education-list > li:first-child{
  font-style: italic;
}

.skills li {
  list-style-type: none;
}

.experience > ul > li:not(:first-child) {
  color: darkgreen;
}

header a[href*=".edu"]::before {
  content: url("../images/link.png");
  margin-right: 5px;
}